@media (max-width:980px) {
    .top-menu li{
       margin-left: 5px;
    }
    .banner-left h1{
        font-size: 45px;
    }
    .banner-left p{
        text-align: justify;
    }
    .banner-right img{
        max-width: 400px;
        height: fit-content;
    }
    .brand-section{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-self: center;
    }
    .brand-section article{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .products{
       display: grid;
       grid-template-columns: repeat(2,1fr);
   }
   .product-card img{
    width: 100%;
    height: 296px;
}
  
}

@media (max-width:800px) {
   
    .nav-bar{
        gap: 30px;
        justify-content: space-around;
        position: relative;
        
    }
   
  .bar,.website-title,.card{
      display: flex;
      justify-content: center;
  }
  .top-menu{
    position: absolute;
    flex-direction: column;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
   opacity: 0;
    transition: .5s ease-in-out;
}
  
    .top-menu li{
        
        width: 100%;
        background-color: rgba(58, 58, 58, .9);
        
        display: flex;
        justify-content: center;
        margin: 0;
     }
     .top-menu li a{
         color: #fff;
         padding: 10px 20px;
         display: inline-block;
         transition: .2s;
         margin: 10px;
     }
     .top-menu li a:hover{
        background-color: #fff;
        color: var(--primary-color);
        border-radius: 5px;
     }
     .bar-label{
        transition: .5s;
        display: block;
        
     }

    #bar:checked ~ .top-menu{
        opacity: 1;   
    }
    #bar:checked ~ .bar-label{
        transform: rotate(90deg);
          
    }
    

   .banner-section{
       flex-direction: column-reverse;
       margin-top: 100px;
   }
   .banner-left{
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   .banner-left h1{
       text-align: center;
   }
   .banner-left P{
       text-align: center;
   }
   .banner-right img{
    width: 100%;
    height: fit-content;
}
   .brand-section{
       grid-template-columns: repeat(3,1fr);
       gap: 10px;
   }
   .products{
       grid-template-columns: 1fr;
   }
   .product-card img{
       width: 100%;
       height: 296px;
   }
   .contact-section{
       flex-direction: column;
       margin: 20px
   }
   .contact-form-left article{
       font-size:50px ;
   }
   .contact-form-left h1{
    font-size: 25px;
    color: var(--primary-color);
    text-align: center;
}
.banner-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}

@media (max-width:460px) {
    .banner-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   

    
  
   .banner-left h1{
       font-size: 30px;
   }
    .banner-left p{
        font-size: 14px;
    }
    .brand-section{
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        padding: 20px;
    }
    .product-card img{
        width: 100%;
        height: auto;
    }


    
}

@media (max-width:430px) {
    .top-menu{
        margin-top: 20px;
    }
    .banner-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-right img{
        max-width: 300px;
        height: fit-content;
    }
    .contact-form-right form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .product-card img{
        width: 100%;
        height: auto;
    }
}